In [4]:
import pandas as pd

In [5]:
dicionario = {
    "Nomes": ["Alice", "Julia", "Bruna", "Daniel", "Filipe", "Silvio"],
    "Idade": [19,22,28,34,28,48],
    "Profissões": ["Direito", "Engenharia", "Enfermagem", "Engenheiro Civil", "Cientista da Computação", "Engenheiro Eletrônico"],
    "ID": [1,2,3,4,5,6]
}

In [6]:
dados = pd.DataFrame(dicionario)     # cria o dataframe

In [8]:
dados.head(6) # exibe as seis linhas da base de dados (caso tenha mais de 4 linhas, temos que especificar a quantidade que queremos mostrar)

    Nomes  Idade               Profissões  ID
0   Alice     19                  Direito   1
1   Julia     22               Engenharia   2
2   Bruna     28               Enfermagem   3
3  Daniel     34         Engenheiro Civil   4
4  Filipe     28  Cientista da Computação   5
5  Silvio     48    Engenheiro Eletrônico   6