In [1]:
import pandas as pd

In [2]:
dicionario = {
    "Produtos Fabricados": [50,30,40,100],
    "Setores": [1,2,3,4]
}

In [3]:
dados = pd.DataFrame(dicionario) # cria o dataframe

In [4]:
dados.head() # exibe o dataframe (caso tenha mais de 4 linhas, temos que especificar a quantidade que queremos mostrar)

   Produtos Fabricados  Setores
0                   50        1
1                   30        2
2                   40        3
3                  100        4